h1{
    border-bottom:10px solid green;
    padding-bottom:10px;
}
a{
    text-decoration-line:none;
}
@media all and (min-width: 768px){
    #container{
    display:grid;
    grid-template-columns:200px 1fr;
    }
}
@media all and (max-width: 768px) {
}
body{
    font-family: 'Josefin Sans', sans-serif;
    /* background-image: url(https://picsum.photos/500/300.jpg);
    background-size:cover; */
}